[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<2.0"
scipy = "*"
sounddevice = "*"
pyyaml = "*"
sox = "*"
torch = "*"
torchaudio = "*"
pandas = "*"
matplotlib = "*"
librosa = "*"

[dev-packages]

[requires]
python_version = "3.10"
